.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    background-color: rgb(179, 227, 246);

    .form-wrap {
        position: relative;
        display: flex;
        flex-direction: column;

        //background-color: blue;
        height: 450px;
        width: 700px;

        > div {
            height: 15%;
            width: 100%;
            text-align: center;
            //background-color: orange;
            color: black;
            h1 {
                font-size: 2.2rem;
            }
            p {
            }
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 30px;
            height: 85%;
            >div {
                display: flex;
                height: 40px;
                width: 100%;
                justify-content: space-between;
                input {
                    padding-left: 15px;
                    width: 45%;
                    border: none;
                    outline: none;
                    color: black;
                    background-color: white;
                    &::placeholder {
                        color: black;
                    }
                }
                div {
                    
                    width: 45%;
                }
            }

            textarea {
                margin-top: 40px;
                padding: 10px;
                height: 150px;
                width: 100%;
                border: none;
                outline: none;
            }

            button {
                cursor: pointer;
                align-self: center;
                margin-top: 20px;
                border: none;
                outline: none;
                height: 35px;
                width: 100px;
                color: white;
                background-color: black;
            }
        }
    }
}