* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page {
    padding-top: 60px;
    min-height: 100%;
    color: white;
    //background-color: var(--royal-blue);


    .services {
        height: 300px;
        width: 100%;
        background-color: white;

        h2 {
            text-align: center;
            color: black;
            background-color: red;
        }
    }
}