* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-page {
    padding-top: 80px;
    min-height: 100%;
    color: white;
    //background-color: var(--royal-blue);

    .main {
        position: relative;
        display: flex;
        justify-content: center;
        gap: 100px;
        padding: 20px;
        height: 530px;
        width: 100%;
        //background-color: red;
        background-image: linear-gradient(to bottom, #4169e1, #7267e0, #9564dc, #b261d6, #cb5fce);

        .main-left {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 30%;
            //background-color: orange;
            h1 {
                font-size: 2.5rem;
                margin-bottom: 20px;
                width: 100%;
                //background-color: red;
            }
            p {
                height: 120px;
                width: 100%;
                margin-bottom: 7px;
                
                //background-color: aqua;
            }
            button {
                cursor: pointer;
                height: 45px;
                width: 150px;
                border: 1px solid black;
                outline: none;
                align-self: flex-start;
                color: white;
                transition: background-color 0.3s ease;
                background-color: transparent;
                &:hover {
                    //border: 1px solid black;
                    color: black;
                    background-color: white;
                }
                //background-color: green;
            }
        }

        .main-right {
            position: relative;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            place-items: center;

            width: 40%;
            background-color: green;
            img {
                width: 60%;
            }
        }
    }


    .services {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 300px;
        width: 100%;
        padding: 20px;
        background-color: white;

        // h2 {
        //     text-align: center;
        //     color: black;
        //     background-color: red;
        // }
        div {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            min-height: 230px;
            max-height: 230px;
            width: 190px;
            //background-color: green;

            svg {
                color: #4169e1;
                font-size: 9rem;
            }

            p {
                font-size: 1.2rem;
                font-weight: bold;
                text-align: center;
                color: black;
                //background-color: red;
            }
        }

    }



    .about-me {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
        height: 400px;
        width: 100%;
        background-color: red;

        .about-left {
            height: 50%;
            width: 30%;
            background-color: aqua;
            h2 {
                font-size: 2.2rem;
            }
            p {

            }
        }

        .about-right {
            height: 80%;
            width: 40%;
            background-color: green;
        }
    }



}